
*{
    padding: 0;
    margin: 0;
    /* font-family: monospace; */
   
}


.navbar{
    color: white;
    font-size: 15px;
    padding-left: 68px;
    font-family: unset;
    margin-bottom: 0px !important;
    
   
 
}
.navlink{
    padding-left: 100px !important;
}
.navbar-nav{
    
    list-style-type: none;
    font-size: 13px;
    
    


}
.navbar-nav li{
   
    color: white;
    margin: 20px 10px 10px 10px;
    
    
     

}
.navbar-nav li a{
   
    color: white !important;
    text-decoration: none;
}
.btn{
    float: right;
    margin-right: 108px;
    
    
}
section{
    background-color: black;
}

.business{
    
    margin-top: 40px;
    font-family: monospace;
    padding: 30px;
    color: white;
    
}
.business p{
    padding-top: 20px;
}
.frontimg img{

    height:auto;
    width: 338px;
    float: right;
    margin-right: 50px;
    

}

.business button{
    color: rgb(12, 227, 216);
    background-color: transparent;
    border: 1px solid lightseagreen;
    padding:8px 15px 8px 15px;
    margin-top: 40px;
    
}
.business button:hover{
    border: 0.5px solid rgb(239, 12, 209);
}

.txtcent{
    text-align: center;
    
}
.txtcent h5{
    
    font-weight: bold;
    color: #00e7ff;
    padding-top:40px;
}
.txtcent h3{
    font-weight: bolder;
    margin:5px !important;
    
}
.plan {

    display: flex;
    justify-content: center;
    margin: 15px;
    padding:10px;
}
 .plantext {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    
}
.plantext h4{
    font-weight: bolder;
}
.textplan{
    display: flex;
    box-sizing: content-box;
}

.serviceicon{
   
    margin-bottom: 30px;

}


.getst button{
    font-weight: bolder;
    color:rgb(18, 217, 243);
    background-color: transparent;
    border: 1px solid rgb(18, 217, 243);
    padding:8px 15px 8px 15px;
    margin-top: 50px;
    
}

.getst button:hover{
    border: 0.5px solid black;
    color: black;
}

.present{
    margin-top: 40px;
    margin-bottom: 40px;
}

.cardst{
    padding-left: 50px;
    text-align: center;
}

.cardst h5{
    font-weight: bold;
}

.card{
    
    height: 400px;
    width: auto;
    color: black;
    background-color: white;
    margin-right: 30px;
    border: 1px solid transparent;
   
}
.card ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
    display: inline-block;
    /* padding: 20px; */
    padding: 3px 15px 80px 21px;
}
.card h3{
    font-size: 24px;
    font-weight: bolder;
    display: inline-block;
}

.card p{
    font-size: 14px;
}

.col-sm-1 .left{
    margin-top: 250px;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 20px;
}

.col-sm-1 .right{
    float: right;
    margin-top: -240px;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 20px;
}


.question{
background-color: rgb(2, 2, 37);
color: white;
}

.frminput {
    
    border: 1px solid grey;
    background-color: white;
    border-radius: 100px 100px 100px 100px;
    display: flex;
    justify-content:center;
    margin:50px 0px 50px 0px;
    
}



.frminput button{
    width: 200px;
    margin:10px 0px  10px 130px;
    border-radius: 30px 30px 30px 30px;
    padding: 10px;
    background-color: rgb(18, 217, 243);
    
}

.frminput button:hover{
    background-color: rgb(12, 156, 239);
    color: white;
   
}
.form-group {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    border: 2px solid grey ;
    
}
 .first{
    padding-left: 10px;
    border-radius: 30px 0px 0px 30px;
     border-top-style: hidden;
     border-right-style:groove;
     border-left-style: hidden;
     border-bottom-style:hidden ;
    
}

 .second{

 padding-left: 20px;
 border-radius: 0px 30px 30px 0px;
 border-top-style: hidden;
 border-right-style:hidden;
 border-left-style: hidden;
 border-bottom-style:hidden ;
 

}


.col-sm-3 ul{
    list-style-type: none;
}
.col-sm-3 h3{
    color: white;
}
.col-sm-3 ul li a{

    color: grey;
    text-decoration: none;
    
}
.copyright{
    background-color: black; 
}
.copyright span{
    
    color: grey; 
    padding: 20px 40px 20px 110px;
}
.copyright i{
    float:right;
    margin: 10px;
}
.copyright button{
    font-size: 15px;
    margin-left: 70px;
    padding: 0px !important;
    border: 1px solid black;
    border-radius: 100px 100px 100px 100px;
    background-color:skyblue ;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}


   
   
    
   
